.form-control1 {
    display: block;
    width: 300px;
    height: 46px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-left: 10px;
    font-size: 16px;
}
.form-control2 {
    display: block;
    width: 300px;
    height: 46px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 16px;
}
.button {
    width: 315.99px;
    height: 48Px;
    background: #007BFF;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.formlogin {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.rememberme {
    margin-bottom: 20px;
}
.text-center {
    text-align: center!important;
} 
.container {
    color: #212529;
}   